<div class="container my-3">
  <form class="p-4 border rounded bg-light" (ngSubmit)="updateTask()">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input
        type="text"
        id="title"
        class="form-control"
        [(ngModel)]="upateTaskDto.title"
        name="title"
        required
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea
        id="description"
        class="form-control"
        [(ngModel)]="upateTaskDto.description"
        name="description"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Type:</label>
      <select
        id="type"
        class="form-control"
        [(ngModel)]="upateTaskDto.type"
        name="type"
      >
        <option value="Urgent">Urgent</option>
        <option value="Important">Important</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
